 
@import "compass/css3"

@import url('https://fonts.googleapis.com/css?family=Open+Sans')

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif
  color: #555;
  background: #e5e5e;

}

.gallery {
  width: 880px;
  margin: 0 auto;
  padding: 5px;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.gallery {
  width:;
  height:;
  background: red;
  animation: mymove 5s infinite;
}
@keyframes mymove{
  from {background-color: blue;}
  to {background-color: violet;}
}
.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  width:265px;
  heigth:206px;
   transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}
.gallery > div:hover > img {
  transform-translate: scale(1.8,1.8);
  transition: .3s transform;
}
.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}
.cf:after {
  clear: both;
}
h1 { margin: 40px 0
  font-size: 24px
  text-align: center;
}
table:hover{
background-color:#ffff00;
}
mark { 
  background-color:#edc967;e8b939;
}

div:hover{
background-color:#faf9f6;ffe4c6;fff0df;
}

img{
  border-radius: 50%;
}
img{
  -widkit-filter:grayscale(100%); /* safari 6.0 - 9,0 */
  filter: grayscal(100%);
}

img{
  border: 5px solid #555;
}

img{
  opacity: 0.5px
}


img:hover {
  opacity: 0.5;
}

margin: 0;
padding: 0;
}
body
{
  overflow: hidden;
}
#bg
{ 
position: absolute;
top: 0;
width: 100%;
height: 100%vh;
mix-blend-mode: hue;
}

table {
  text- align: center;  
}
table {
  text- align: center; 
} 

li{ 
text-align: center;
font-weight: bold;	
}

li,font-color{ 
font-size: 24px;
font-family: 'roboto';	 
}






body { container: system-ui;
background-color:orange; 
color:blue;
text-align:center;
height:800px;
width:900px;
margin:auto;
} 
div{
  img{  filter: contrast(1590000000%);
  }
  * {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}

body {
  text-align:
  margin:
  font-family: 'roboto';
}

{
  margin:;
  padding-top: ;
  clear:both;
}
img {
  width:100%;;
  height: auto;
}
img {
  max-width:;
  margin: ;
  padding:;
}

img:nth-of-type(1) {
  filter: brightness(2000000%);
}

img:nth-of-type(1) {
  filter: brightness(2000000%);
}

    url(
"https://cdn.pixabay.com/photo/2017/03/23/09/34/artificial-intelligence-2167835_960_720.jpg" height="590">)
  backgroung repeat:no-repeat;
  background-color:#ff4500;
  align:;
}
    

body{
  margin:;
  padding:;
  color:#;
  font-family:Arial Narrow;
}

:root {
  font-size:1rem;
}
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html,body{
  hight:100%
}
button{
  button-align:center;
  display:grid 
  justify-items:center;
  align-items:center;
  background-color:#1E1F
}

button{
  border: 0.25rem solid #444857;
  boder-radius: 0.25rem;
  height: 2.3rem;
  width: fit-content;
  width: 2.9rem
  lign-height: 2.5rem;
  font-size: 1.1rem;
  color:#ada;
  background-color: violet; 
  transition: transform 50ms;
}

button:Hover{
  background-color:pink;
}
button:active{
  transform:translateY(0.2rem);
}
.small{
  font-size: 2.4rem;
  color:#f62aa0;
}
.medium{
  font-size: 2.6rem;
  color:#b8ee30;
}
.large{ 
  font-size: 2.8rem;
  color:#26dfd0;
}

$grey: #ccc;
$muted-grey: #999;
$heart: #ff4f8f;
$white: #fff;
  { 
.like-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto
    text-decoration: none;
    overflow: hidden;
}

.like-button {
    .like-overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $heart;
        transform: scale(0);
        transition: all .4s;
        z-index: 0;
    }
}
.like-button { 
  {       
     &.is-liked {
          display: none;
          color: $red;
          position: relative;
          z-index: 1;
        }
    }
}
//Defining the animation
@-webkit-keyframes bouncy {
    from, to { -webkit-transform: scale(1, 1); }
    25% { -webkit-transform: scale(0.9, 1.1); }
    50% { -webkit-transform: scale(1.1, 0.9); }
    75% { -webkit-transform: scale(0.95, 1.05); }
}
@keyframes bouncy {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

//Animation Settings
.bouncy {
    -webkit-animation: bouncy 0.6s;
    animation: bouncy 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.like-button {
    &.is-active {
        .like-overlay {
            transform: scale(1);
        }
       
            }
            &.is-liked {
                display: block;
            }
        }
}

}










* {box-sizing: border-box;}
html, body {height:100%;}
body { 
background:#212121; 
background-image: 
background-image:linear-gradient(180deg,lightgreen,skyblue,purple)
  background-image: 
    url("https://images.unsplash.com/photo-1547132025-0868fd15d909?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&outo=format&fit=crop&w=2250&q=80"
  background-size: cover;
  padding: 0 16px;
	// top:0!important; // Prevent Google Topbar from pushing down body.
  h1 {color:#fff; margin: 1em 0 0.5em 0; letter-spacing: -1px;}
	h2 {color:#fff; margin: 0 0 1em 0; font-weight:100;font-size: 1.8em; letter-spacing: -1px;}
  p {color:#fff;}
  a {color:#fff;}
}
// .goog-te-banner-frame {display:none;} // Don't show Google Topbar
// #goog-gt-tt {display:none!important;visibility:hidden!important;}

#google_translate_element {
  position: absolute;
  bottom: calc(53px + 16px);
  right: 16px!important;
  // z-index: 99999;
}
.goog-te-gadget {
  font-family: Roboto, 'Open Sans', sans-serif!important;
  text-transform: uppercase;
}
.goog-te-gadget-simple  {
  background-color: rgba(255,255,255,0.20)!important;
  border: 1px solid rgba(255,255,255,0.50) !important;
  padding: 8px!important;
  border-radius: 4px!important;
  font-size: 1rem!important;
  line-height:2rem!important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}
.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value {
  color: #fff !important;
    &:before {
    font-family: 'Material Icons';
    content: "\E927";
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
    // width:32px!important;
  } 
}
.goog-te-menu-value span:nth-child(5) {
  display:none;
}
.goog-te-menu-value span:nth-child(3) {
  border:none!important;
  font-family: 'Material Icons';
  &:after {
    font-family: 'Material Icons';
    content: "\E5C5";
    font-size: 1.5rem;
    vertical-align: -6px;
  }  
}

.goog-te-gadget-icon {
    background-image: url(https://placehold.it/32)!important;
    background-position: 0px 0px;
    height: 32px!important;
    width: 32px!important;
    margin-right: 8px!important;
    //     OR
    display: none;
}

// ============ HIDE TOP BAR ============ 
.goog-te-banner-frame.skiptranslate {display: none!important;} 
body {top: 0px!important;}

/* ================================== *\
    Mediaqueries
\* ================================== */
@media (max-width: 667px) {
	#google_translate_element {
		bottom: calc(100% - 50% - 53px);
		left: 16px!important;
		width: 100%!important;
		goog-te-gadget {
			width:100%!important;
		}
		.skiptranslate {
			width:100%!important;			
		}
		.goog-te-gadget-simple {
			width: calc(100% - 32px)!important;
			text-align: center;
		}	
	}
}


}



.h1 {
  font-size: 3.4rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
}

.h2 {
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}



/*  Responsive */

/*---------media query for less than 800px screen size---------*/
@media only screen and (max-width: 800px){ 
  .h1 {
  max-width: 70%;
  padding: 5rem 1rem;
 }
  .h2 {
    font-size: 4rem;   
  }
}
  
/*------media query for less than 600 screen size-----*/ 
@media only screen and (max-width: 600px){ 
  .h1 {
  max-width: 100%;
  padding: 2rem;
  top: initial;
  bottom: 0;
  transform: initial;
 }
  
  .h1 {
    font-size: 4rem;
  }
  .h2 {
    font-size: 1.4rem;
  }
}
